.hello-world,
.helloWorld,
.hello_world {
  color: red;
  background: url("../components/world.jpg");
}

.hello-world img {
  display: inline-block;
}

.hello-world:hover {
  background-image: url(../components/world2.jpg);
}

.some-other-selector {
  background-image: url('../components/world.jpg');
}
