.hello-world {
  color: red;
  background: url("../components/world.jpg");
}

.hello-world:hover {
  background-image: url(../components/world2.jpg);
}

.some-other-selector {
  background-image: url('../components/world.jpg');
}

